/*header Styles*/
header{
	background-color: #0020F4;
	height: 388px;
}
.logo img{
	vertical-align: top;
}

nav li{
	width: 100px;

}

nav, nav > ul li {
	
    display: inline-block;
  }


nav a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	font-family: 'BPG Ingiri';
}

.navbar-contact{
	background-color: #fff;
	color: #171717;
	border-radius: 28px;
	box-sizing: border-box;
	width: auto;
	padding: 5px;
	margin-left: 20px;
}

/*Section Styles*/

.rectangle{
	margin: auto;
	width: 950px;
	display: block;
}	

.images{
	margin-left: 280px;
	margin-top:  60px;
}

.images img{
	width: 187px;
	
}


.about{
	padding-top: 30px;
	font-weight: bold;
	font-size:25px;
	color:#171717;
	width: 63%;
	margin: auto;
	font-family: 'BPG Ingiri';

}

.about-text{
	width:	810px;
	margin: auto;
	color: #171717;
	font-size: 16px;
	font-family: 'BPG Ingiri';
}


p {
  margin-top: 18px ;
  margin-bottom: 18px ;
}

.readmore{
	background-color: #0A22F4;
	color: #ffff;
	box-sizing: border-box;
	border-radius: 28px;
	font-size: 16px;
	margin: auto;
 	width: 35%;
	padding: 10px;
	text-align: center;
	display: block;
	font-family: 'BPG Ingiri';

	
}

/*Footer styles*/

footer{
	background-color: #0A22F4;
	height: 460px;
	margin-top:100px;

}

iframe{
	border-radius: 15px;
	margin-left:200px;

}

.contact{
	color: #FFFFFF;
	font-size:20px;
	margin-left:200px;
	padding-top: 50px;
	font-family: 'BPG Ingiri';
}
.contact-text{
	margin-left:200px;
	margin-bottom: 50px;
	width: 300px;
	color: #FFFFFF;
	font-size: 10px;
	font-family: 'BPG Ingiri';
	
}


